p {
    font-size: 14pt;
    text-align: center;
    margin: 1%;
}
img {
    margin-top: 15px;
}
body {
    background-color: rgba(59, 44, 27, 0.938);
}
a {
    text-align: center;
    color: black;
}
.content {
    max-width: 70vw;
    margin: auto;
    background-color: rgb(253, 233, 209);
}
li {
    font-size: 14pt;
}
.footer {
    background-color: rgba(255, 216, 144, 0.795);
    color: black;
}
a:hover {
    background-color: rgba(255, 216, 144, 0.795);
    color: white;
}
.active {
    background-color: rgba(255, 216, 144, 0.795);
}
a.footer {
    background-color: black;
    color: White;
}
.contact {
    background-color: rgb(209, 111, 81);
    padding: 10px 70px 1px;
}
div.contact {
    width: 70%;
    margin-left: 15%;
}
@media screen and (max-width: 850px) {
    div.contact {
        width: 100%;
        margin-left: 0%;
    }
    .contact {
        padding: 10px 20px 1px;
    }
}
@media screen and (max-width: 500px) {
    li {
        font-size: 11pt;
    }
}
@media screen and (max-width: 400px) {
    li {
        font-size: 7pt;
    }
}
input[type=text], input[type=email], textarea {
    width: 100%;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 14px;
}
input[type=submit] {
    background-color: rgb(149, 131, 156);
    color: white;
}
input[type=submit]:hover {
    background-color: rgb(143, 100, 117);
}